In [1]:
import os
import pickle
import pandas as pd
from LogClass import LogObj
from ConnMySQLDB import MySQLDB
from Voice_Dectection_Utils import VoiceDetectionUtils
import warnings
warnings.filterwarnings('ignore')

In [2]:
# init
logFile = LogObj('.','logFile')
mySQLDB = MySQLDB(logFile)
utils = VoiceDetectionUtils(logFile)

In [3]:

#測試區間1 : (異常時間區段 2019-07-19 20:39:00~ 2019-07-19 20:56:00)
#ErrSQL = ["select * from t_device41 where rec_datetime >= '2019-07-19 20:39:00' and rec_datetime <= '2019-07-19 21:56:00';"];

#測試區間2 : (異常時間區段 2019-07-22 22:14:00~ 2019-07-22 22:23:00)
ErrSQL = ["select * from t_device41 where rec_datetime >= '2019-07-22 20:00:00' and rec_datetime <= '2019-07-22 22:24:00';"]

#測試區間3 : (異常時間區段 2019-07-23 15:19:00~ 2019-07-23 15:28:30, 2019-07-23 16:23:00~2019-07-23 17:02:00)
#ErrSQL = ["select * from t_device41 where rec_datetime >= '2019-07-23 15:00:00' and rec_datetime <= '2019-07-23 18:00:00';"];

OutputErrRaw = mySQLDB.extractData('192.168.11.115',3306,'Ac0u5Tasiai2','XY"S/?>wt5K"2','acoustics',ErrSQL)

In [4]:
result = utils.loadEnsembleModelPredict('./20190911model', '20190911',OutputErrRaw)

In [5]:
result

    0        rec_datetime
0   0 2019-07-22 20:04:49
1   0 2019-07-22 20:10:00
2   0 2019-07-22 20:15:10
3   0 2019-07-22 20:20:21
4   0 2019-07-22 20:25:30
5   0 2019-07-22 20:30:48
6   0 2019-07-22 20:35:59
7   0 2019-07-22 20:41:16
8   0 2019-07-22 20:46:32
9   0 2019-07-22 20:51:50
10  0 2019-07-22 20:57:01
11  0 2019-07-22 21:02:10
12  0 2019-07-22 21:07:21
13  0 2019-07-22 21:12:31
14  0 2019-07-22 21:17:41
15  0 2019-07-22 21:22:50
16  0 2019-07-22 21:28:00
17  0 2019-07-22 21:33:10
18  0 2019-07-22 21:38:19
19  0 2019-07-22 21:43:36
20  0 2019-07-22 21:48:45
21  0 2019-07-22 21:53:56
22  0 2019-07-22 21:59:05
23  0 2019-07-22 22:04:13
24  1 2019-07-22 22:14:43
25  1 2019-07-22 22:19:58